include ./../mixins/index

+b.main.MAIN
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg
    +b.section.section--general.SECTION 
      +b.about-wrapper 
        +e.image.IMG(
          src=('../static/img/ava.webp'),
          alt=('User')
          ) 
        +b.about
          +b.about-block--first
            h1.title john93
            +e.link--follow.A(
              href="#") Follow
            +e.link.A(
            href="#")
              span.triangle
            +e.link--other.A(
              href="#") &bull;&bull;&bull;
          +b.about-block--second
            +e.link--posts.A(
              href="#"
            )
              p.text.text--number 79
              p.text posts
            
            +e.link--followers.A(
            href="#"
            ) 
              p.text.text--number 379
              p.text followers
            
            +e.link--following.A(
            href="#"
            )
              p.text.text--number 179
              p.text following

    +b.section.section--informaition.SECTION 
      h2.subtitle John Rood
      p.text.text--about Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
      +e.link.A(
        href="#"
      ) bit.ly/35Ce3mX
    
    +b.section.section--actual.SECTION
      +b.cards-wrapper 
        +b.card
          +e.link.A(
          href="#"
          )
            +e.image(
              src=('../static/img/actual/basketball.jpeg'),
              alt=('Actual')
            )
          p.text Basketball

        +b.card
          +e.link.A(
          href="#"
          )
            +e.image(
              src=('../static/img/actual/football.jpg'),
              alt=('Actual')
            )
          p.text Football

        +b.card
          +e.link.A(
          href="#"
          )
            +e.image(
              src=('../static/img/actual/tenis.jpg'),
              alt=('Actual')
            )
          p.text Tenis
    
    +b.SECTION.section--pictures
      +b.tabs
        +e.A.link--is-active(
          href="#"
        )
          +e.image(
              src=('../static/img/icon/posts.png'),
              alt=('posts')
            )
          p.text POSTS
        
        +e.A.link(
          href="#"
        )
          +e.image(
              src=('../static/img/icon/tagget.png'),
              alt=('tagget')
            )
          p.text TAGGET
      
      +b.pic-wrapper.g-row.g-row--appearance_spaced
        +e.A.link.g-cell.g-cols.g-cols--12-xs.g-cols--6-md.g-cols--4-xl(
          href="#"
          )
            +e.image(
              src=('../static/img/images/img1.jpg'),
              alt=('Photo')
            )
        +e.A.link.g-cell.g-cols.g-cols--12-xs.g-cols--6-md.g-cols--4-xl(
          href="#"
          )
            +e.image(
              src=('../static/img/images/img2.jpg'),
              alt=('Photo')
            )
        +e.A.link.g-cell.g-cols.g-cols--12-xs.g-cols--6-md.g-cols--4-xl(
          href="#"
          )
            +e.image(
              src=('../static/img/images/img3.webp'),
              alt=('Photo')
            )
        +e.A.link.g-cell.g-cols.g-cols--12-xs.g-cols--6-md.g-cols--4-xl(
          href="#"
          )
            +e.image(
              src=('../static/img/images/img4.jpeg'),
              alt=('Photo')
            )
        +e.A.link.g-cell.g-cols.g-cols--12-xs.g-cols--6-md.g-cols--4-xl(
          href="#"
          )
            +e.image(
              src=('../static/img/images/img5.jpg'),
              alt=('Photo')
            )
        +e.A.link.g-cell.g-cols.g-cols--12-xs.g-cols--6-md.g-cols--4-xl(
          href="#"
          )
            +e.image(
              src=('../static/img/images/img6.jpg'),
              alt=('Photo')
            )
        +e.A.link.g-cell.g-cols.g-cols--12-xs.g-cols--6-md.g-cols--4-xl(
          href="#"
          )
            +e.image(
              src=('../static/img/images/img1.jpg'),
              alt=('Photo')
            )
        +e.A.link.g-cell.g-cols.g-cols--12-xs.g-cols--6-md.g-cols--4-xl(
          href="#"
          )
            +e.image(
              src=('../static/img/images/img2.jpg'),
              alt=('Photo')
            )
        +e.A.link.g-cell.g-cols.g-cols--12-xs.g-cols--6-md.g-cols--4-xl(
          href="#"
          )
            +e.image(
              src=('../static/img/images/img3.webp'),
              alt=('Photo')
            )
        +e.A.link.g-cell.g-cols.g-cols--12-xs.g-cols--6-md.g-cols--4-xl(
          href="#"
          )
            +e.image(
              src=('../static/img/images/img4.jpeg'),
              alt=('Photo')
            )
        +e.A.link.g-cell.g-cols.g-cols--12-xs.g-cols--6-md.g-cols--4-xl(
          href="#"
          )
            +e.image(
              src=('../static/img/images/img5.jpg'),
              alt=('Photo')
            )
        +e.A.link.g-cell.g-cols.g-cols--12-xs.g-cols--6-md.g-cols--4-xl(
          href="#"
          )
            +e.image(
              src=('../static/img/images/img6.jpg'),
              alt=('Photo')
            )